@model IEnumerable<TDD_WebApp.Models.FoursquareLocationVM>

@{
    ViewBag.Title = "GetLocatonsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetLocatonsList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accuracy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timestamp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accuracy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
